<div class="footer container" id="section-footer">
    <div class="footer__upper">
        <div class="footer__column">
            <img
                class="footer__logo"
                src="{{ url_for('images', path='/logo/SE_logo.png') }}"
                alt="KMITL Logo"
            />
            <p class="footer__text--bold">Software Engineering</p>
            <p class="footer__text-low-important">
                1 Chalong Krung, 1 Alley, <br />
                Krabang, Bangkok 10520
            </p>
            <div class="footer__icon-contact">
                <i class="icon fa-brands fa-instagram"></i
                ><i class="icon fa-brands fa-facebook-f"></i
                ><i class="icon fa-brands fa-tiktok"></i
                ><i class="icon fa-brands fa-x-twitter"></i
                ><i class="icon fa-brands fa-linkedin"></i>
            </div>
        </div>
        <div class="footer__column">
            <p class="footer__text--bold">Fast Links</p>
            <p class="footer__text-icon">Student's Locker</p>
            <p class="footer__text-icon">Parking Reservation</p>
            <p class="footer__text-icon">Item Borrow Service</p>
        </div>
        <div class="footer__column">
            <p class="footer__text--bold">Contact Us</p>
            <p class="footer__text-icon">
                <i class="icon fa-solid fa-phone"></i> +66 65 878 5000
            </p>
            <p class="footer__text-icon">
                <i class="icon fa-solid fa-phone"></i>
                saraban@kmitl.ac.th
            </p>
            <p class="footer__text-icon">
                <i class="icon fa-solid fa-phone"></i>
                saraban@kmitl.ac.th
            </p>
            <p class="footer__text-icon">
                <i class="icon fa-solid fa-phone"></i>
                saraban@kmitl.ac.th
            </p>
        </div>
        <div class="footer__column">
            <p class="footer__text--bold">Newsletter</p>
            <p class="footer__text-low-important">
                Subscribe To Our Newsletter
            </p>
            <div class="footer__input-box">
                <input
                    type="text"
                    class="footer__input-box--text"
                    placeholder="Enter your email"
                />
                <a href="/" class="btn__next--orange">Subscribe</a>
            </div>
        </div>
    </div>
    <div class="footer__lower">
        <div class="footer__lower-stack-left">
            <p class="footer__text-statement footer__lower-btn">
                Cookie Statement
            </p>
            <p class="footer__text-statement footer__lower-btn">
                Terms of Service
            </p>
            <p class="footer__text-statement footer__lower-btn">
                Privacy Policy
            </p>
        </div>
        <p class="footer__text-statement">
            &copy;2023 Software Engineering, King Mongkut's Institute of
            Technology Ladkrabang
        </p>
    </div>
</div>
