/* Responsive */

/* >= 1024 */

@media only screen and (min-width: 64em) {
    html {
        font-size: 50%;
    }

    .container {
        padding: 0 10rem;
    }

    .hero {
        padding-top: 35rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }
}

/* >= 1280 */

@media only screen and (min-width: 80em) {
    html {
        font-size: 56.25%;
    }

    .container {
        padding: 0 25rem;
    }

    .hero {
        padding-top: 35rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }
}

/* >= 1440 */

@media only screen and (max-width: 90em){
    html {
        font-size: 42%;
    }

    .container {
        padding: 0 40rem;
    }

    .navigation {
        padding: 0 15rem;
    }

    .admission_main {
        padding: 10rem 15rem 0 15rem;
    }

    .divider__image {
        padding: 0rem 15rem;
    }

    .footer {
        padding: 10rem 15rem;
    }
    
}

/* >= 1920 */

@media only screen and (min-width: 120em) {
    html {
        font-size: 62.5%;
    }

    .container {
        padding: 0 70rem;
    }

    .hero {
        padding-top: 30rem;
    }

    .about__header {
        padding-top: 35rem;
        padding-bottom: 40rem;
    }
}
