<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Software Engineering | KMITL</title>

        <link
            rel="stylesheet"
            href="{{ url_for('universal-css', path='/general.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('universal-css', path='/queries.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('universal-css', path='/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('item-static', path='/style.css') }}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- <link
            rel="shortcut icon"
            type="image/png"
            href="../img/logo/SE_logo.png"
        /> -->
    </head>

    <body>
        <!-- Section - Navigation -->

        {% include "Universal/navbar.html" %}

        <!-- Section - Item -->

        <div class="container item__header">
            <div class="item__header-image-text">
                <p class="item__header-image-text--display">item</p>
            </div>
        </div>

        <div class="container item__user">
            <div class="item__user-welcome" id="itemLoginBlock">
                <p>Please Sign In to use our services</p>
                <a class="btn__next--orange" href="/login">Sign in</a>
            </div>
            <div class="item__user-welcome" id="itemUserBlock"></div>
        </div>

        <div class="container" id="itemMenuContainer">
            <div class="item__menu" id="itemMenu">
                <div
                    class="item__menu-list item__menu-list--active"
                    id="item__menu-list--1"
                >
                    Items List
                </div>
                <div class="item__menu-list" id="item__menu-list--2">
                    Borrow List
                </div>
                <div class="item__menu-list" id="item__menu-list--3">
                    Return List
                </div>
                <div class="item__menu-list" id="item__menu-list--4">
                    Add Product
                </div>
            </div>

            <div class="item__container" id="itemContainer"></div>

            <div class="borrow__container" id="borrowContainer">
                <p id="borrowEmpty">Add item that you want to borrow</p>
                <div class="borrow__btn" id="borrowBtn">Borrow</div>
            </div>

            <div class="return__container" id="returnContainer"></div>
        </div>

        <!-- Section - Footer -->

        {% include "Universal/footer.html" %}

        <script
            src="https://kit.fontawesome.com/1c7eef805a.js"
            crossorigin="anonymous"
        ></script>
        <script
            type="module"
            src="{{ url_for('universal-js', path='universal.js') }}"
        ></script>
        <script
            type="module"
            src="{{ url_for('item-static', path='main.js') }}"
        ></script>
    </body>
</html>
