/* Section - Navigation */

.navigation {
    height: 10rem;
    position: relative;
}

/* Item */

.item__header {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            to right,
            rgba(184, 165, 165, 0.3),
            rgba(0, 0, 0, 0.8)
        ),
        url(/images/image/kmitl_photo_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item__header-image-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8rem;
    letter-spacing: 1rem;
    color: var(--color-white);
}

.item__header-image-text--display {
    text-shadow: 0 0 2rem var(--royal-blue-primary);
}

.item__user-welcome {
    font-size: 2rem;
    margin: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.item__user-welcome-header {
    font-size: 3.2rem;
}

.item__menu {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 10rem;
}

.item__menu-list {
    padding: 0.5rem 0;
    cursor: pointer;
}

.item__menu-list:hover {
    border-bottom: 0.2rem solid var(--orange-primary);
}

.item__menu-list--active {
    border-bottom: 0.2rem solid var(--orange-primary);
}

.item__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    padding-bottom: 10rem;
}

.item__card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 4rem 1rem rgb(0, 0, 0, 0.05);
    position: relative;
}

.item__card--upper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__card-img {
    background-size: cover;
    height: 23rem;
}

.item__card--lower {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--royal-blue-primary);
    color: var(--color-white);
}

.item__card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--orange-primary);
    color: var(--royal-blue-primary);
    cursor: pointer;
    transition: 0.2s;
}

.item__card-btn > .icon {
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: 0.4s;
}

.item__card-btn:hover > .icon {
    transform: rotate(90deg);
}

.item__comfirm-btn {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1adc6b;
    color: var(--royal-blue-primary);
}

.item__comfirm-btn > .icon {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.item__unavailable-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #bc071f;
    color: var(--color-white);
}

.item__unavailable-btn > .icon {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.borrow__container {
    display: none;
    padding-bottom: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.borrow__list {
    width: 50rem;
    padding: 2rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4rem 1rem rgb(0, 0, 0, 0.05);
    border-radius: 2rem;
}

.borrow__list > .icon {
    color: var(--royal-blue-primary);
    cursor: pointer;
}

.borrowEmpty {
    display: block;
}

.borrow__btn {
    display: none;
    background-color: var(--orange-primary);
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem 2rem;

    /* Transition */
    transition: 0.3s ease;
}

.borrow__btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgb(16, 29, 44, 0.1);
}

.borrow__btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgb(16, 29, 44, 0.3);
}

.return__container {
    display: none;
    padding-bottom: 10rem;
}
