/* Universal */

h1 {
    font-size: 4.4rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    text-align: center;
    height: 50vh;
}

table,
th,
td,
tr {
    border: 1rem solid #fbf3f2;
    text-align: center;
    font-weight: bold;
}

th {
    width: 14%;
    margin: 6rem;
}

td {
    border-radius: 20%;
}

td:hover {
    background-color: var(--royal-blue-primary);
    color: var(--color-grey-light);
    cursor: pointer;
    transition: ease-in 0.3s;
}

hr {
    border: none;
    height: 0.2rem;
    background-color: var(--royal-blue-primary);
}

/* Section - Navigation */

.navigation {
    height: 10rem;
    position: relative;
}

/* Locker */

.locker__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.locker__header {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            to right,
            rgba(184, 165, 165, 0.3),
            rgba(0, 0, 0, 0.8)
        ),
        url(/images/image/locker.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.locker__header-image-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8rem;
    letter-spacing: 1rem;
    color: var(--color-white);
}

.locker__header-image-text--display {
    text-shadow: 0 0 2rem var(--royal-blue-primary);
}

.locker__guide {
    height: 50rem;
}

.locker {
    display: none;
    background-color: #101d2c;
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 100vh;
    color: #fff;
    align-items: center;
}

.locker__left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.locker__right {
    justify-content: center;
    width: 65%;
}

.locker__bar {
    height: 0.2rem;
    width: 80%;
    background-color: #fff;
    margin: 5rem 0;
}

.locker__nav {
    width: 80%;
    text-align: center;
    padding: 4rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: semibold;
}

.locker__nav:hover {
    background-color: var(--color-grey-dark);
    color: var(--royal-blue-primary);
    transition: ease-in 0.3s;
}

.active {
    background-color: #fbf3f2;
    color: var(--royal-blue-primary);
}

.locker__container {
    height: 65vh;
    background-color: #fbf3f2;
    border-radius: 0.5rem;
    padding: 3rem;
}

.locker__container--header {
    display: flex;
    justify-content: center;
    color: var(--royal-blue-primary);
}

.locker__container--header-text {
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.locker__container--body {
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem 0;
    height: 80%;
    color: var(--royal-blue-primary);
    font-size: 2rem;
}

.locker__container--body-left {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.calendar__table {
    width: 100%;
}

/* highlighted dates */
.today {
    color: red;
    /* #DBA858 */
    background-color: var(--orange-primary);
    font-weight: bold;
}

.future-date {
    background-color: var(--orange-primary);
    color: var(--royal-blue-primary);
}

.past-date {
    background-color: var(--color-grey-dark);
}

.not_curr_month-date {
    background-color: var(--color-grey-dark);
}

.locker__container--body-right {
    width: 30%;
    display: flex;
    padding: 9rem 0;
    flex-direction: column;
}

.locker__container--body-right-box {
    display: flex;
    margin: 3rem 0;
    padding-left: 2rem;
}

#rectangle {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.selected_date__active {
    background-color: var(--royal-blue-primary);
    color: var(--color-grey-light);
}

.locker__container--body-right-text {
    margin-left: 2rem;
}

.locker__container--buttom {
    justify-content: center;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    width: 20%;
}

.locker__container--buttom-btn {
    font-weight: semibold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--royal-blue-primary);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    /* Hover effect */
    &:hover {
        background-color: var(--orange-primary);
        color: var(--royal-blue-primary);
    }
}

.locker__container--body-view {
    justify-content: center;
    padding: 2rem 0;
    height: 90%;
    color: var(--royal-blue-primary);
}

.locker__container--body-view-text {
    padding: 3rem 2rem;
    font-size: 2.2rem;
    display: flex;
    font-weight: semibold;
}

.locker__container--body-view-left {
    padding-top: 0.5rem;
    width: 95%;
    display: flex;
}

.locker__container--body-view-right {
    width: 5%;
    display: flex;
}

.img__trash-can {
    width: 4rem;
    height: 4rem;
    justify-content: center;
    cursor: pointer;
}

.locker__footer {
    height: 30rem;
}
