/* Navigation Bar */

.navigation {
    height: 10rem;
    position: relative;
}

.userinfo__container {
    height: 60rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
