.navigation {
    height: 10rem;
    position: relative;
}

.userinfo__container {
    height: 90rem;
    display: flex;
    justify-content: center;
    padding: 10rem;
    background-color: var(--royal-blue-primary);
    color: var(--color-white);
}

.userinfo__container--header,
.userinfo__container--body {
    height: 100%;
    width: 50%;
    align-items: center;
}

.userinfo__container--header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.userinfo__container--body {
    padding: 10rem 0;
    justify-content: center;
    font-size: 3rem;
    line-height: normal;
}
