<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Software Engineering | KMITL</title>

        <link
            rel="stylesheet"
            href="{{ url_for('userinfo-css', path='/general.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('userinfo-css', path='/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('userinfo-css', path='/queries.css') }}"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- <link
            rel="shortcut icon"
            type="image/png"
            href="../img/logo/SE_logo.png"
        /> -->
    </head>

    <body></body>
</html>
