/* Table */

table {
    width: 80rem;
}

table,
th,
td {
    text-align: center;
    justify-content: center;
    margin: 5rem auto;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1rem;
    width: 20% 50% 30%;
}

/* Section - Navigation */

.navigation {
    height: 10rem;
    position: relative;
}

/* Admission 1-1 (Early Round)*/

.admission_main {
    background-color: #101d2c;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}

.indented-paragraph {
    text-indent: 10rem;
}

.admission__navigation {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.admission__navigation--each {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding: 5rem;
    background-color: #101d2c;
    color: #fa991c;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.admission__navigation--each:hover {
    color: #101d2c;
    background-color: #f9f7f6;
}

.active {
    background-color: #fa991c;
    color: #101d2c;
}

.admission {
    background-color: WHITE;
    color: black;
    padding: 10rem;
    width: 100%;
}

.admission__header {
    text-align: center;
}

.admission__body {
    text-align: left;
}

.admission__table {
    text-align: center;
}

/* Back to main Btn */

.backtomain {
    background-color: #fa991c;
    position: fixed;
    bottom: 15rem;
    right: 15rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtomain__btn {
    text-decoration: none;
    color: #101d2c;
    font-size: 2rem;
}
