<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Log In</title>

        <link
            rel="stylesheet"
            href="{{ url_for('login-css', path='/style.css') }}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="main" id="section-login">
            <div class="main__header">
                <h1>Login</h1>
            </div>
            <div class="main__body">
                <form id="loginForm">
                    <div class="main__body--input">
                        <div class="main__body--input-text">
                            <label for="email" class="main__label">Email</label>
                            <input
                                type="email"
                                id="username-login"
                                class="main__input"
                                name="email"
                                placeholder="Enter your email"
                                required
                            />
                        </div>
                        <div class="main__body--input-text">
                            <label for="password" class="main__label"
                                >Password</label
                            >
                            <input
                                type="password"
                                id="password-login"
                                class="main__input"
                                name="password"
                                placeholder="Enter your password"
                                required
                            />
                        </div>
                    </div>
                    <div class="main__body--input">
                        <input
                            type="submit"
                            value="Login"
                            class="main__btn"
                            onclick="loginUser(event)"
                        />
                    </div>
                    <p class="main__link">
                        Don't have an account?
                        <a href="/signup" class="main__link--signup"
                            >Register</a
                        >
                    </p>
                </form>
            </div>
            <br />
            <br />
        </div>

        <h1>USER info</h1>
        <button type="button" onclick="getInfo()">Show Info</button><br />
        <p id="username-info"></p>
        <p id="email-info"></p>
    </body>

    <script
        type="module"
        src="{{ url_for('login-js', path='main.js') }}"
    ></script>
</html>
