<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign up</title>

        <link
            rel="stylesheet"
            href="{{ url_for('login-static', path='/style.css') }}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="main" id="section-login">
            <div class="main__header">
                <h1>Register</h1>
            </div>
            <div class="main__body">
                <form id="registerForm">
                    <div class="main__body--input">
                        <div class="main__body--input-text">
                            <label for="username" class="main__label"
                                >Username:</label
                            >
                            <input
                                type="text"
                                id="username-register"
                                class="main__input"
                                name="username"
                                placeholder="Enter your username"
                                required
                            />
                        </div>
                        <div class="main__body--input-text">
                            <label for="email" class="main__label"
                                >Email (must end with @kmitl.ac.th):</label
                            ><input
                                type="text"
                                id="email-register"
                                class="main__input"
                                name="email"
                                required
                                pattern="\d{8}@kmitl\.ac\.th$"
                                placeholder="Enter your email"
                            />
                        </div>
                        <div class="main__body--input-text">
                            <label for="password" class="main__label"
                                >Password:</label
                            >
                            <input
                                type="password"
                                id="password-register"
                                class="main__input"
                                name="password"
                                placeholder="Enter your password"
                                required
                            />
                        </div>
                    </div>
                    <div class="main__body--input">
                        <input
                            type="submit"
                            value="Register"
                            class="main__btn"
                        />
                    </div>
                    <p class="main__link">
                        Already have an account?
                        <a href="/login" class="main__link--signup">Log in</a>
                    </p>
                </form>
                <div class="login__back">
                    <a href="/" class="login__back-btn">back to home</a>
                </div>
            </div>
        </div>
    </body>

    <script
        type="module"
        src="{{ url_for('login-static', path='main.js') }}"
    ></script>
</html>
