<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Software Engineering | KMITL</title>

        <link
            rel="stylesheet"
            href="{{ url_for('universal-css', path='/general.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('universal-css', path='/queries.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('universal-css', path='/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('main-static', path='/style.css') }}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- <link
                rel="shortcut icon"
                type="image/png"
                href="../img/logo/SE_logo.png"
            /> -->
    </head>

    <body>
        <!-- Section - Navigation -->

        {% include "Universal/navbar.html" %}

        <!-- Section - Hero -->

        <div class="container hero" id="hero-section">
            <div class="hero__upper">
                <div class="hero_img">
                    <img
                        class="man-with-tech"
                        src="{{ url_for('images', path='/image/man_with_tech.png') }}"
                        alt="man_with_tech"
                    />
                </div>
                <div class="hero__content">
                    <p class="hero__content--white">Welcome to</p>
                    <p class="hero__content--orange">Software</p>
                    <p class="hero__content--orange">Engineering</p>
                    <p class="hero__content--white">
                        King Mongkut's Institute of Technology Ladkrabang |
                        KMITL
                    </p>
                </div>
            </div>
            <div class="hero__lower hero__lower--guest" id="heroLoginBlock">
                <p class="hero__lower-text">Become apart of our faculty</p>
                <p>
                    <a class="btn__next--orange signin__btn" href="/login"
                        >Sign in</a
                    >
                </p>
            </div>
            <div
                class="hero__lower hero__lower--guest"
                id="heroUserBlock"
            ></div>
        </div>

        <!-- Section - About -->

        <div class="container about__header">
            <p class="about__header-text">What is Software Engineering?</p>
            <p class="about__header-text">Why study Software Engineering?</p>
            <p class="about__header-text">Careers in Software Engineering</p>
            <p class="about__header-text">Meet our lecturers</p>

            <div class="about__header-find-out-more">
                <a href="#section-about" class="about__header-find-out-more-btn"
                    >Find out more about Software Engineering now<i
                        class="icon fa-solid fa-arrow-right"
                    ></i
                ></a>
            </div>
        </div>

        <h1 class="about-section__header" id="section-about">About</h1>

        <div class="container about">
            <div class="about__left-section">
                <div class="about__selection">
                    <div
                        class="about__selection-element about__selection-element--active"
                        id="about__selection-element--1"
                    >
                        <p class="about__section-element-text">
                            What is Software Engineering?
                        </p>
                    </div>
                    <div
                        class="about__selection-element"
                        id="about__selection-element--2"
                    >
                        <p class="about__section-element-text">
                            Why Study Software Engineering?
                        </p>
                    </div>
                    <div
                        class="about__selection-element"
                        id="about__selection-element--3"
                    >
                        <p class="about__section-element-text">
                            Careers in Software Engineering
                        </p>
                    </div>
                </div>
                <div class="about__bar"></div>
            </div>

            <div class="about__details">
                <div
                    class="about__details-element"
                    id="about__details-element--1"
                >
                    <h3 class="about__details-element-header">
                        What is Software Engineering?
                    </h3>
                    <p class="about__details-element-text">
                        Software engineering (SE) is an engineering discipline
                        concerning all aspects of software production, including
                        software analysis, design, development, testing, and
                        deployment. SE requires profound abstract and logical
                        thinking and the application of mathematics, logic, and
                        computer science in order to produce efficient and
                        reliable software with the available resources.
                    </p>
                </div>
                <div
                    class="about__details-element"
                    id="about__details-element--2"
                >
                    <h3 class="about__details-element-header">
                        Why Study Software Engineering?
                    </h3>
                    <p class="about__details-element-text">
                        It is hard to overstate the ubiquity of software
                        nowadays. Every computer system is governed by software.
                        Almost every human activity involves software in some
                        form. Undoubtedly software industry is one of the
                        largest and fastest growing industries in the world.
                        Consequently, skilled software engineers are in high
                        demand worldwide. As software becomes more and more
                        complex, the programming skills and the rudimentary
                        knowledge of software engineering that students obtained
                        from traditional computer science and computer
                        engineering curriculums are insufficient. The
                        development of real-world software applications requires
                        the skills in analysing the problem domain and the
                        customer's requirement and the skills in designing the
                        software from the topmost level down to the
                        implementation level. Moreover, a software engineer must
                        be able to use proper tools, techniques, and
                        methodologies in order to produce the software in an
                        efficient manner.
                    </p>
                </div>
                <div
                    class="about__details-element"
                    id="about__details-element--3"
                >
                    <h3 class="about__details-element-header">
                        Careers in Software Engineering
                    </h3>
                    <p class="about__details-element-text">
                        There are abundant career opportunities for graduates
                        from the software engineering program.

                        <span>
                            Software engineers, software architects, and
                            software developers on various platforms, including
                            enterprise software, web applications, mobile
                            applications, games, embedded applications, etc.
                        </span>
                        <span
                            >Analysts and designers of IT systems, IT
                            consultants</span
                        >
                        <span>Software entrepreneurs</span>

                        With strong foundation in computer science, mathematics,
                        and software engineering principles, graduates of the SE
                        program may continue their studies at postgraduate level
                        in various software engineering or computing related
                        fields in universities worldwide.
                    </p>
                </div>
            </div>
        </div>

        <!-- Divider -->

        <div class="divider">
            <div class="divider__bar"></div>
        </div>

        <!-- Section - Lecturers -->

        <div class="container lecturers" id="section-lecturers">
            <h1 class="lecturers__header">Lecturers</h1>

            <div class="lecturers__box-slider">
                <div class="lecturers__row">
                    <div class="lecturers__box lecturers__box-1">
                        <p class="lecturers__info">
                            Thatchapon <br />
                            Chatthanes
                        </p>
                        <img
                            class="lecturers__image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        />
                    </div>
                    <div class="lecturers__box lecturers__box-2">
                        <p class="lecturers__info">
                            Thatchapon <br />
                            Chatthanes
                        </p>
                        <img
                            class="lecturers__image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        />
                    </div>
                    <div
                        class="lecturers__box lecturers__box--active lecturers__box-3"
                    >
                        <p class="lecturers__info">
                            Thatchapon <br />
                            Chatthanes
                        </p>
                        <img
                            class="lecturers__image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        />
                    </div>
                    <div class="lecturers__box lecturers__box-4">
                        <p class="lecturers__info">
                            Thatchapon <br />
                            Chatthanes
                        </p>
                        <img
                            class="lecturers__image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        />
                    </div>
                    <div class="lecturers__box lecturers__box-5">
                        <p class="lecturers__info">
                            Thatchapon <br />
                            Chatthanes
                        </p>
                        <img
                            class="lecturers__image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        />
                    </div>
                </div>
            </div>

            <div class="lecturers__find-out-more">
                <a
                    class="btn__next--orange"
                    id="lecturers__find-out-more-btn"
                    href="/"
                    >Meet all Lecturers<i
                        class="icon fa-solid fa-arrow-right"
                    ></i
                ></a>
            </div>
        </div>

        <!-- Divider -->

        <div class="container divider__image">
            <div class="divider__blank"></div>
            <div class="divider__image-text">
                <p class="divider__image-text--display">
                    Interested in technology research and education?
                </p>
            </div>
        </div>

        <!-- Section - Program -->

        <div class="container program" id="section-program">
            <h1 class="program__header">Program</h1>

            <div class="program__row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <div class="card__details">
                                <p>Software Engineering 2022</p>
                            </div>
                        </div>
                        <div
                            class="card__side card__side--back card__side--back-1"
                        >
                            <div class="card__cta">
                                <div class="card__cta-box">
                                    <p class="card__cta-read">Read More</p>
                                    <p class="card__cta-click">Click</p>
                                </div>
                                <a
                                    href="/"
                                    class="btn__next--orange"
                                    id="card__cta-btn--1"
                                    >Read more</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <div class="card__details">
                                <p>Software Engineering 2022</p>
                            </div>
                        </div>
                        <div
                            class="card__side card__side--back card__side--back-1"
                        >
                            <div class="card__cta">
                                <div class="card__cta-box">
                                    <p class="card__cta-read">Read More</p>
                                    <p class="card__cta-click">Click</p>
                                </div>
                                <a
                                    href="/"
                                    class="btn__next--orange"
                                    id="card__cta-btn--2"
                                    >Read more</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <div class="card__details">
                                <p>Software Engineering 2022</p>
                            </div>
                        </div>
                        <div
                            class="card__side card__side--back card__side--back-1"
                        >
                            <div class="card__cta">
                                <div class="card__cta-box">
                                    <p class="card__cta-read">Read More</p>
                                    <p class="card__cta-click">Click</p>
                                </div>
                                <a
                                    href="/"
                                    class="btn__next--orange"
                                    id="card__cta-btn--3"
                                    >Read more</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="program__row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <div class="card__details">
                                <p>Software Engineering 2022</p>
                            </div>
                        </div>
                        <div
                            class="card__side card__side--back card__side--back-1"
                        >
                            <div class="card__cta">
                                <div class="card__cta-box">
                                    <p class="card__cta-read">Read More</p>
                                    <p class="card__cta-click">Click</p>
                                </div>
                                <a
                                    href="/"
                                    class="btn__next--orange"
                                    id="card__cta-btn--4"
                                    >Read more</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <div class="card__details">
                                <p>Software Engineering 2022</p>
                            </div>
                        </div>
                        <div
                            class="card__side card__side--back card__side--back-1"
                        >
                            <div class="card__cta">
                                <div class="card__cta-box">
                                    <p class="card__cta-read">Read More</p>
                                    <p class="card__cta-click">Click</p>
                                </div>
                                <a
                                    href="/"
                                    class="btn__next--orange"
                                    id="card__cta-btn--5"
                                    >Read more</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <div class="card__details">
                                <p>Software Engineering 2022</p>
                            </div>
                        </div>
                        <div
                            class="card__side card__side--back card__side--back-1"
                        >
                            <div class="card__cta">
                                <div class="card__cta-box">
                                    <p class="card__cta-read">Read More</p>
                                    <p class="card__cta-click">Click</p>
                                </div>
                                <a
                                    href="/"
                                    class="btn__next--orange"
                                    id="card__cta-btn--6"
                                    >Read more</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="program__find-out-more">
                <a
                    class="btn__next--orange"
                    id="program__find-out-more-btn"
                    href="/"
                    >Explore our program<i
                        class="icon fa-solid fa-arrow-right"
                    ></i
                ></a>
            </div>
        </div>

        <!-- Divider -->

        <div class="container divider__image">
            <div class="divider__blank"></div>
            <div class="divider__image-text">
                <p class="divider__image-text--display">
                    start your journey to study with us
                </p>
            </div>
        </div>

        <!-- Section - Admissions -->

        <div class="container admissions" id="section-admissions">
            <h1 class="admissions__header">Admissions</h1>
            <div class="admissions__container">
                <div class="admissions__row">
                    <div class="admissions__stack-left">
                        <i class="icon fa-solid fa-bullhorn"></i>
                        <p class="admissions__topic">
                            Announcement Direct Admissions 1-1 (Early Round)
                        </p>
                    </div>
                    <div class="admissions__find-out-more">
                        <a
                            class="btn__next--orange"
                            id="admissions__find-out-more-btn--1"
                            href="/admission"
                            >Read more<i
                                class="icon fa-solid fa-arrow-right"
                            ></i
                        ></a>
                    </div>
                </div>
                <div class="admissions__row">
                    <div class="admissions__stack-left">
                        <i class="icon fa-solid fa-bullhorn"></i>
                        <p class="admissions__topic">
                            Announcement Direct Admissions 1-1 (First Round)
                        </p>
                    </div>
                    <div class="admissions__find-out-more">
                        <a
                            class="btn__next--orange"
                            id="admissions__find-out-more-btn--2"
                            href="/admission"
                            >Read more<i
                                class="icon fa-solid fa-arrow-right"
                            ></i
                        ></a>
                    </div>
                </div>
                <div class="admissions__row">
                    <div class="admissions__stack-left">
                        <i class="icon fa-solid fa-bullhorn"></i>
                        <p class="admissions__topic">
                            Announcement Direct Admissions 1-1 (Early Round)
                        </p>
                    </div>
                    <div class="admissions__find-out-more">
                        <a
                            class="btn__next--orange"
                            id="admissions__find-out-more-btn"
                            href="/admission"
                            >Read more<i
                                class="icon fa-solid fa-arrow-right"
                            ></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="admissions__find-out-all">
                <a
                    class="btn__next--orange"
                    id="admissions__find-out-all-btn"
                    href="/admission"
                    >Read All<i class="icon fa-solid fa-arrow-right"></i
                ></a>
            </div>
        </div>

        <!-- Divider -->

        <div class="divider">
            <div class="divider__bar"></div>
        </div>

        <!-- Services -->

        <div class="container services" id="section-services">
            <h1 class="services__header">Services</h1>

            <div class="services__row services__row--1">
                <div class="services__text-header">What is Services?</div>
                <div class="services__divider-bar"></div>
                <div class="services__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Eius quidem suscipit sint earum reprehenderit eveniet
                    recusandae, odit incidunt quasi sequi officia aperiam
                    repellat molestias rem iste voluptatibus dolorum iusto
                    libero dolorem consectetur eaque repudiandae! Corrupti
                    voluptas vel suscipit sunt, voluptatibus quibusdam enim
                    architecto iste. Accusamus quae doloribus odio non
                    doloremque rerum dolorem provident. Placeat doloribus
                    expedita veritatis voluptate fuga ad enim nam tempora
                    necessitatibus dignissimos quasi voluptatum deleniti odit
                    reprehenderit sunt, exercitationem laboriosam vitae aliquid
                    perspiciatis consequatur modi voluptates quaerat veniam
                    soluta. Vero praesentium cupiditate impedit asperiores,
                    vitae tempora at unde dolorem repellendus atque! Sit esse
                    saepe aut impedit labore?
                </div>
            </div>

            <div class="services__row services__row--2">
                <a class="services__element-btn" href="/locker">
                    <div class="services__element services__element--1">
                        <h2 class="services__element-header">
                            Student's Locker<i
                                class="icon fa-solid fa-arrow-right"
                            ></i>
                        </h2>
                        <h2
                            class="services__element-header services__element-header--show"
                        >
                            Student's Locker<i
                                class="icon fa-solid fa-arrow-right"
                            ></i>
                        </h2>
                        <img
                            class="services__element-image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        /></div
                ></a>
                <a class="services__element-btn" href="/parking">
                    <div class="services__element services__element--2">
                        <h2 class="services__element-header">
                            Parking Reservation<i
                                class="icon fa-solid fa-arrow-right"
                            ></i>
                        </h2>
                        <h2
                            class="services__element-header services__element-header--show"
                        >
                            Parking Reservation<i
                                class="icon fa-solid fa-arrow-right"
                            ></i>
                        </h2>
                        <img
                            class="services__element-image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        /></div
                ></a>
                <a class="services__element-btn" href="/item">
                    <div class="services__element services__element--3">
                        <h2 class="services__element-header">
                            ยืมของ<i class="icon fa-solid fa-arrow-right"></i>
                        </h2>
                        <h2
                            class="services__element-header services__element-header--show"
                        >
                            ยืมของ<i class="icon fa-solid fa-arrow-right"></i>
                        </h2>
                        <img
                            class="services__element-image"
                            src="{{ url_for('images', path='/image/test.jpg') }}"
                            alt=""
                        /></div
                ></a>
            </div>
        </div>

        <!-- Section - Footer -->

        {% include "Universal/footer.html" %}

        <script
            src="https://kit.fontawesome.com/1c7eef805a.js"
            crossorigin="anonymous"
        ></script>
        <script
            type="module"
            src="{{ url_for('universal-js', path='universal.js') }}"
        ></script>
        <script
            type="module"
            src="{{ url_for('main-static', path='main.js') }}"
        ></script>
    </body>
</html>
