/* Responsive */

/* <= 1920 */

@media only screen and (max-width: 120em) {
    html {
        font-size: 56.25%;
    }

    .container {
        padding: 0 40rem;
    }

    .hero {
        padding-top: 35rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }

    /* Locker */

    .locker__container {
        padding: 2rem 5rem;
    }

    .locker__container--header {
        padding: 1rem 0 0 0;
    }

    .locker__container--body-right {
        padding: 15rem 0 0 5rem;
    }

    .locker__container--buttom {
        padding: 0 0 10rem 0;
    }
}

/* <= 1440 */

@media only screen and (max-width: 90em) {
    html {
        font-size: 45%;
    }

    .container {
        padding: 0 45rem;
    }

    .hero {
        padding-top: 35rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }

    /* Locker */

    .locker__container {
        padding: 2rem 5rem;
    }

    .locker__container--header {
        padding: 1rem 0 0 0;
    }

    .locker__container--body-right {
        padding: 10rem 0 0 0;
    }

    .locker__container--buttom {
        padding: 0 0 10rem 0;
    }
}

/* <= 1280 */

@media only screen and (max-width: 80em) {
    html {
        font-size: 50%;
    }

    .container {
        padding: 0 20rem;
    }

    .hero {
        padding-top: 35rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }

    .footer {
    }
}

/* <= 1024 */

@media only screen and (max-width: 64em) {
    html {
        font-size: 50%;
    }

    @media screen and (max-width: 768px) {
        .hamburger-menu {
            display: block;
        }

        .stack-left,
        .stack-right {
            display: none;
        }

        .mobile-menu {
            display: block;
        }
    }

    .container {
        padding: 0 10rem;
    }

    .hero {
        padding-top: 35rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }

    .footer {
    }
}

/* <= 768 */

@media only screen and (max-width: 48em) {
    html {
        font-size: 37.5%;
    }

    .container {
        padding: 0 8rem;
    }

    /* Hero */

    .hero {
        padding-top: 35rem;
    }

    /* About */

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }

    .about__header {
        padding-top: 25rem;
        padding-bottom: 30rem;
    }

    /* Locker */

    .locker__container {
        padding: 2rem 5rem;
    }

    .locker__container--header {
        padding: 5rem 0 0 0;
    }

    .locker__container--body-right {
        padding: 10rem 0 0 0;
    }

    .locker__container--buttom {
        padding: 0 0 10rem 0;
    }

    /* Admission */

    .admission_main {
        padding: 10rem 15rem 0 15rem;
    }

    .divider__image {
        padding: 0rem 15rem;
    }
}

/* <= 548px */

@media only screen and (max-width: 34.25em) {
    html {
        font-size: 37.5%;
    }

    .container {
        padding: 0 5rem;
    }

    .se-logo {
        margin-right: 0rem !important;
    }

    /* Hero */

    .hero {
        padding-top: 5rem !important;
    }

    .hero__upper {
        text-align: center;
        flex-direction: column;
    }

    /* About */

    .about {
        flex-direction: column;
    }

    .about__details-element {
        width: 60rem !important;
    }

    .about__left-section {
        margin-bottom: 10rem;
    }

    .about__selection-element {
        width: 100% !important;
    }

    .about__section-element-text {
        font-size: 1.6rem !important;
    }

    .about__bar {
        display: none;
    }

    .about__header {
        text-align: center;
        padding-top: 15rem !important;
        padding-bottom: 25rem !important;
    }

    .about__header-text {
        font-size: 2rem !important;
    }

    .about__header-find-out-more {
        font-size: 1rem !important;
    }

    /* Program */

    .col-1-of-3 {
        width: 20rem !important;
    }

    .card__details {
        padding: 2rem !important;
    }

    /* Admission */

    .admissions__row {
        padding: 0 2rem !important;
    }

    .admissions__topic {
        width: 30rem;
        font-size: 1.6rem !important;
    }

    /* Locker */

    .locker__header {
        text-align: center;
    }

    .locker__container {
        padding: 2rem 5rem;
    }

    .locker__container--header {
        padding: 5rem 0 0 0;
    }

    .locker__container--body-right {
        padding: 10rem 0 0 0;
    }

    .locker__container--buttom {
        padding: 0 0 10rem 0;
    }

    /* Item */

    .item__container {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    /* Admission */

    .admission_main {
        padding: 10rem 15rem 0 15rem;
    }

    .divider__image {
        height: 30rem !important;
        padding: 0rem 15rem;
    }

    .divider__image-text {
        font-size: 2.4rem !important;
        padding-left: 0 !important;
    }

    /* Service */

    .services__row {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services__element-btn:not(:last-child) {
        margin-bottom: 5rem;
    }

    /* Footer */

    .footer {
        justify-content: center;
        text-align: center;
    }

    .footer__upper {
        flex-direction: column;
        align-items: center;
    }

    .footer__lower {
        flex-direction: column;
        align-items: center;
    }

    .footer__text--bold {
        margin-top: 4rem;
    }

    .footer__lower-stack-left {
        flex-direction: column;
    }

    .footer__lower-btn {
        margin-right: 0rem !important;
        margin-bottom: 2rem;
    }
}
